.section {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #fdfdf1;

  .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5vh;
    margin-top: 5vh;

    h6 {
      font-size: 5vh;
      font-family: "HattonLight";
      color: #39442b;

      width: auto;
      letter-spacing: 1px;
    }
    .reviewstitle {
      font-family: "HattonLight";
      color: #39442b;
      letter-spacing: 1px;
      font-size: 3.5vh;
      font-weight: 300;
      text-align: center;
      margin-bottom: 5vh;
    }

    .reviewstext {
      font-family: "HattonLight";
      color: #39442b;
      letter-spacing: 1px;
      font-size: 3.5vh;

      text-align: center;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @media only screen and (max-width: 1200px) {
  //   justify-content: center;
  //   width: 70%;
  // }

  // @media only screen and (max-width: 1000px) {
  //   width: 50%;
  // }
}

.cardcontainer {
  height: 50vh;
  width: 50vh;
  border-radius: 3vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a5a5a5;
  color: #6a6a6a;
  transition: background-color 0.5s ease, color 0.5s ease;
  &:hover {
    background-color: #68796c;
    color: #fdfdf1;

  }

  @media only screen and (max-width: 1200px) {
    width: 80%;
  }

  @media only screen and (max-width: 1000px) {
    width: 50%;
  }

  .cardtop {
    height: 20%;
    display: flex;
    align-items: center;
  }

  .cardbottom {
    height: 80%;
  }
}

.cardname {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-weight: 300;
  font-size: 2vh;
  margin-top: 3vh;
  letter-spacing: 0.5px;
  text-align: center;
}

.cardtext {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-size: 2vh;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
}

.carouselcontainer {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselcontent {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 98vw;
  display: flex;
  justify-content: space-between !important;
  @media only screen and (max-width: 1200px) {
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    padding-left: 90px;
  }

  @media only screen and (max-width: 1000px) {
    left: 16%;
  }
}

.arrowscontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  align-self: center;
  width: 20vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperslide {
  display: flex;
  justify-content: space-between;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 4vh;
}

.swiper-slide .subtitle {
  font-size: 2vh;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.customnext {
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vh solid #39442b;
  cursor: pointer;
  &:hover {
    background-color: #f8fb9c; /* Color de fondo al hacer hover */
  }
  svg {
    width: 5vh;
    height: 5vh;
  }
}

.customprev {
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2vh solid #39442b;
  &:hover {
    background-color: #f8fb9c;
  }
  svg {
    transform: rotate(180deg);
    width: 5vh;
    height: 5vh;
  }
}
