.button {
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22vh;
  height: 5vh;
  border: 2px dotted #e6e6e6;
  border-radius: 1vh;

  p {
    color: #e6e6e6;
    font-family: "HattonLight";
    font-size: 3vh;
  }
}
