.header {
  display: flex;
 margin: 0 auto;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 90%;
  height: 8vh;
  box-sizing: border-box;
  z-index: 100;
  align-self: center;
  background-color: transparent;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f0ebe3;



  .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    position: relative;
    margin-left: 2.5vh;
    margin-right: 25vh;

    h2{
        color: #62685e;
        font-family: "HattonLight";
        font-size: 5vh;
    }
    @media only screen and (max-width: 950px) {
      margin-top: 2.3vh;
    }
  }
}
