.main {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background-color: #fdfdf1;
  color: #39442b;
}

.body {
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #62685e;
  font-family: "HattonLight";
  font-size: 5vh;
}

.text {
    color: #62685e;
    font-family: "HattonLight";
    font-size: 3vh;
    text-align: center;
    max-width: 100vh;
    margin-top:2vh;
    margin-bottom:4vh;
  }