.card {
    background-color: transparent;
    overflow: hidden;
    border: none;
    border-bottom: 0.5px solid #a5a5a5;
    z-index: 10000;
    padding: 0vh 2vh;
  
    @media only screen and (max-width: 1000px) {
      width: 100%;
      height: auto;
  
      margin: 1vh 0vh;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
    th {
      padding-top: 2.4vh;
      padding-bottom: 2.4vh;
    }
  
    .header {

      h1{
        margin-top: 10vh;
        margin-bottom: 10vh;
        text-align: center;
    
        color: #fdfdf1;
        font-family: "HattonLight";
        font-size: 2vh;
      }


      img {
        height: 1.6vh;
        width: 1.6vh;
      }
  
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      transition: 0.3s;
      height: 8vh;
      z-index: 1000;
      // color: #62685e;
      color: #fdfdf1;
      font-family: "HattonLight";
      font-size: 3vh;
      font-weight: 300;
      line-height: 130%;

  
      @media only screen and (max-width: 600px) {
        height: auto;
        margin: 1vh 0vh;
      }
  
      @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 2.4vh;
      }
    }
  
    .motionContent {
      overflow: hidden;
    }
  
    .content {
      padding: 2vh 2vh;
  
      font-family: "Plus Jakarta Sans", sans-serif;
      // color: #493e36;
      color: #fdfdf1;
      font-size: 2.2vh;
      font-weight: 300;
      line-height: 130%;
      margin-bottom: 2vh;
      margin-top: 2vh;
    }
  }