.navsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
// position: absolute;


width: 100%;

  .navcontainer {
    width: 95%;
    height: 10vh;
    background-color: #fdfdf1;
    border-radius: 2vh;
    z-index: 90000;
    display: flex;
    border: 0.5px solid #39442b;
  }
}



.headerBrand {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  width: 50%;
  height: 10vh;
  @media only screen and (max-width: 600px) {
    margin-left: 1vh;
  }

  p{
    color: #62685e;
    font-family: "HattonLight";
    font-size: 7vh;
    margin-left: 2vh;
    @media only screen and (max-width: 600px) {
      font-size: 4vh;
      margin-left: 0vh;
    }
  }


  img{
    height: 7vh;
    width: 7vh;
    margin-left: 2vh;
    @media only screen and (max-width: 600px) {
      height: 5vh;
      width: 5vh;
      margin-right: 1.5vh;
    }
  }
}



.headerOptions {
  display: flex;
  align-items: center;

}

// @media (max-width: 768px) {
//   .headerOptions {
//     display: none;
//   }
// }


