.section {
  width: 100%;
  height: auto;
  background-color: #f8f89e;
  display: flex;
  justify-content: center;
  align-items: center;



  .container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
padding-bottom: 10vh;

    .column2 {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10vh;


      h3 {
        text-align: center;
        margin-bottom: 10vh;
        font-family: "HattonLight";
        color: #39442b;
        font-size: 3vh;
      }

      h1 {
        text-align: center;
        margin-bottom: 15vh;
        font-family: "HattonLight";
        color: #39442b;
        font-size: 4vh;
      }

      .pcontainer {
        font-family: "HattonLight";
        text-align: center;
        font-size: 5vh;
        max-width: 100vh;
        margin-bottom: 10vh;
        line-height: 130%;

      }
    }
  }
}
