.loopSection {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #fdfdf1;
  padding-bottom: 15vh;

  // margin-bottom: 10vh;
  .textcontainer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-top: 3vh;

    h2 {
      color: #39442b;
      font-family: "HattonLight";
      font-size: 6vh;
      margin-bottom: 3vh;
      text-align: center;
      text-transform: uppercase;
      padding: 1px 2vw;
      line-height: 100%;
      letter-spacing: 0.2vh;

      @media only screen and (max-width: 400px) {
        font-size: 5vh;
      }
    }

    p {
      color: #fdfdf1;
      font-family: "HattonLight";
      font-size: 3vh;
      text-align: center;
      line-height: 100%;
      letter-spacing: 0.1vh;
      max-width: 70vh;
      margin-top: -10vh;
    }
  }
  .marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 30s linear infinite;
    white-space: nowrap;
    &:hover {
      animation-play-state: paused;
    }
  }

  &.reverse .marquee {
    animation-direction: reverse;
  }

  .item {
    flex: 0 0 auto; /* Permite un ancho fijo para cada elemento */
    width: 40vh; /* Ancho del item */
    height: 50vh; /* Altura del item */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh;
    // border: 1px solid black;
    border-radius: 3vh;
    position: relative;
    // overflow: hidden;
    margin-left: 5vh;
    cursor: pointer;
    transition: opacity 0.5s ease; /* Suaviza el cambio de opacidad */

    &:hover {
      opacity: 0.8; /* Reduce la opacidad al pasar el cursor */
    }


    .button{
      width: auto;
      height: 6vh;
      width: 6vh;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: flex-end;
    }

    // .actionButton {
    //   align-self: center;

    //   padding: 0.5em 1em;
    //   background-color: rgba(255, 255, 255, 0.8);
    //   border: none;
    //   border-radius: 2vh;
    //   font-size: 1.6vh;
    //   cursor: pointer;
    //   z-index: 2;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    // }

    .title {
      position: absolute;
      bottom: 1vh;
      left: 1vh;
      font-family: "HattonLight";
      font-size: 2vh;
      text-transform: uppercase;
      // color: white;
      z-index: 2;

    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
