.header{
    position: absolute;
    right: 5vh;
    top: 1.2vh;
    z-index: 9999; 
    .menu{
        width: 30vh;
        height: 60vh;

        border-radius: 2vh;
        position: relative;
        z-index: 1; 
    }
}