.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 4vh 5vh 4vh;
  height: 93vh;
  box-sizing: border-box;
  background-color: #f8fb9c;
  z-index: 10000;
  border-radius: 2vh;

  margin-top: -1vh;
  margin-right: 3vh;



  .body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .linkContainer {
      perspective-origin: bottom;
    }
    a {
      text-decoration: none;
      font-size: 5.5vh;
      font-family: "HattonLight";
      color: #62685e;
    }

    .textContainer {
      position: relative;
      display: inline-block; // Solo ocupa el ancho del texto
    }
  
    .underline {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.2vh;
      background-color: #62685e;
      width: 0;
    }
  
    .active .underline {
      background-color: #62685e;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    a {
        font-size: 2vh;
      width: 50%;
      margin-top: 2vh;
      color: #959793;
    }
  }
}
