.loopSection {
  overflow: hidden;
  width: 100%;
  background-color: #fdfdf1;

  .marquee {
    display: flex;
    align-items: center;
    animation: scroll 30s linear infinite;
    white-space: nowrap;

    &:hover {
      animation-play-state: paused;
    }
  }

  &.reverse .marquee {
    animation-direction: reverse;
  }

  .logoWrapper {
    margin-left: 5vh;
    background-color: #fdfdf1;
    width: 25vw;
    height: 14vh;
    max-height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 2vw;

    p {
      font-family: "HattonLight";
      font-size: 2vh;
      text-align: center;
      text-transform: uppercase;
      color: #26221f;
    }

    svg {
      width: 2.5vh;
      height: 2.5vh;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* Media Queries para hacer el diseño responsive */
  @media (max-width: 1024px) {
    .logoWrapper {
      width: 30vw;
      height: 12vh;
      p {
        font-size: 1.8vh;
      }
    }
  }

  @media (max-width: 768px) {
    .logoWrapper {
      width: 40vw;
      height: 10vh;
      margin-left: 3vh;

    }
  }

  @media (max-width: 480px) {
    .logoWrapper {
      width: 50vw;
      height: 8vh;
      margin-left: 2vh;

    }
  }
}