.container {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 8vh;
    z-index: 10;
  
    @media only screen and (max-width: 750px) {
      height:auto;
    }
  }
  
  .carouselcontainer {
    height: 92vh;
    width: 100%;
    position: relative;
    display: flex;
  
    @media only screen and (max-width: 750px) {
      height:auto;
    }
  }
  
  .carouselcontent {
    position: relative;
    height: 92vh;
    width: 100%;
    display: flex;
  
    @media only screen and (max-width: 750px) {
      height:auto;
    }
  }
  
  .swiper {
    width: 100vw;
    height: 92vh;
  
  
    
    
  }
  
  .mySwiper {
    display: flex;
    flex-direction: row;
  
    .swiper-pagination-bullet {
      background-color: white !important; // Cambia el color de los puntos a blanco
      opacity: 0.6 !important; // Ajusta la opacidad si lo deseas
    }
  
    .swiper-pagination-bullet-active {
      background-color: white !important; // Asegúrate de que el punto activo también sea blanco
      opacity: 1 !important;
    }
  }
  
  .swiper-slide {
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .slide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  
    @media only screen and (max-width: 750px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height:auto;
  
    }
  
    .textcontainer {
      width: 50vw;
      height: 92vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 15vh 6vw 0px 6vw;
      color: white;
      // border-bottom: 1px solid black;
      // border-right: 1px solid black;
      z-index: 100;
  
      @media only screen and (max-width: 750px) {
        border: none;
        width: 100vw;
        height: 40vh;
        padding: 0vh 0vw 0px 0vw;
        margin-top: 3vh;
      }
  
      .inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
  
        .title {
          color: white;
          font-family: "HattonLight";
  
          font-size: 8vh;
          margin-bottom: 3vh;
          text-align: center;
          text-transform: uppercase;
          padding: 1px 2vw;
       
          @media only screen and (max-width: 750px) {
            font-size: 6vh;
          }
        }
  
        .text {
          color: white;
          font-family: "HattonLight";
          font-size: 3vh;
      
          text-align: center;
          margin-bottom: 2vh;
          max-width: 56vh;
          line-height: 120%;
          @media only screen and (max-width: 750px) {
            font-size: 1.8vh;
            max-width: 70vw;
          }
        }
      }
    }
  
    .imagecontainer {
      width: 50vw;
      height: 92vh;
      // border-bottom: 1px solid black;
  
      @media only screen and (max-width: 750px) {
        width: 80vw;
        height: 60vh;
        margin-top: 3vh;
        margin-bottom: 10vh;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
  
        @media only screen and (max-width: 750px) {
          height: 60vh;
          margin-bottom: 3vh;
  
        }
      }
    }
  }